# SPI port
NET "SPI_CS" LOC="A11" | IOSTANDARD = LVCMOS33; # FX2_IO32
NET "SPI_SI" LOC="D14" | IOSTANDARD = LVCMOS33; # FX2_IO26
NET "SPI_CLK" LOC="B16" | IOSTANDARD = LVCMOS33; # FX2_IO28 FX2_CLKOUT
NET "SPI_SO" LOC="C4" | IOSTANDARD = LVCMOS33; # FX2_IO30

# LPC port
NET "LRESET_N" LOC="B4" | IOSTANDARD = LVCMOS33; # FX2_IO1
NET "LAD<0>" LOC="A4" | IOSTANDARD = LVCMOS33; # FX2_IO2
NET "LAD<1>" LOC="D5" | IOSTANDARD = LVCMOS33; # FX2_IO3
NET "LAD<2>" LOC="C5" | IOSTANDARD = LVCMOS33; # FX2_IO4
NET "LAD<3>" LOC="A6" | IOSTANDARD = LVCMOS33; # FX2_IO5
NET "LFRAME_N" LOC="B6" | IOSTANDARD = LVCMOS33; # FX2_IO6
NET "LCLK" LOC="E10" | IOSTANDARD = LVCMOS33; # FX2_CLKIN
