## 50MHz clock
NET CLK            LOC = "P185" | PERIOD = 50MHz HIGH 50%;
#
## CPU interface
NET "cpu_clk" LOC="P120" | IOSTANDARD = LVCMOS33;        # B20
#NET "cpu_weh" LOC="P119" | IOSTANDARD = LVCMOS33;        # C20
#NET "cpu_wel" LOC="P118" | IOSTANDARD = LVCMOS33;        # A21
NET "cpu_data<0>" LOC="P116" | IOSTANDARD = LVCMOS33;    # B21
NET "cpu_data<1>" LOC="P115" | IOSTANDARD = LVCMOS33;    # C21
NET "cpu_data<2>" LOC="P113" | IOSTANDARD = LVCMOS33;    # A23
NET "cpu_data<3>" LOC="P112" | IOSTANDARD = LVCMOS33;    # B23
NET "cpu_data<4>" LOC="P109" | IOSTANDARD = LVCMOS33;    # C23
NET "cpu_data<5>" LOC="P108" | IOSTANDARD = LVCMOS33;    # A24
NET "cpu_data<6>" LOC="P107" | IOSTANDARD = LVCMOS33;    # B24
NET "cpu_data<7>" LOC="P106" | IOSTANDARD = LVCMOS33;    # C24
NET "cpu_data<8>" LOC="P55" | IOSTANDARD = LVCMOS33;     # A25
NET "cpu_data<9>" LOC="P61" | IOSTANDARD = LVCMOS33;     # B25
NET "cpu_data<10>" LOC="P62" | IOSTANDARD = LVCMOS33;    # C25
NET "cpu_data<11>" LOC="P63" | IOSTANDARD = LVCMOS33;    # A26
NET "cpu_data<12>" LOC="P64" | IOSTANDARD = LVCMOS33;    # B26
NET "cpu_data<13>" LOC="P65" | IOSTANDARD = LVCMOS33;    # C26
NET "cpu_data<14>" LOC="P68" | IOSTANDARD = LVCMOS33;    # A27
NET "cpu_data<15>" LOC="P69" | IOSTANDARD = LVCMOS33;    # B27
NET "cpu_addr<0>" LOC="P71" | IOSTANDARD = LVCMOS33;     # C27
NET "cpu_addr<1>" LOC="P72" | IOSTANDARD = LVCMOS33;     # A28
NET "cpu_addr<2>" LOC="P90" | IOSTANDARD = LVCMOS33;     # B28
NET "cpu_addr<3>" LOC="P91" | IOSTANDARD = LVCMOS33;     # C28
NET "cpu_addr<4>" LOC="P93" | IOSTANDARD = LVCMOS33;     # A29
NET "cpu_addr<5>" LOC="P94" | IOSTANDARD = LVCMOS33;     # B29
NET "cpu_addr<6>" LOC="P96" | IOSTANDARD = LVCMOS33;     # C29
NET "cpu_addr<7>" LOC="P97" | IOSTANDARD = LVCMOS33;     # A30
NET "cpu_addr<8>" LOC="P98" | IOSTANDARD = LVCMOS33;     # B30
NET "cpu_addr<9>" LOC="P101" | IOSTANDARD = LVCMOS33;    # C30
NET "cpu_addr<10>" LOC="P99" | IOSTANDARD = LVCMOS33;    # A31
NET "cpu_addr<11>" LOC="P100" | IOSTANDARD = LVCMOS33;   # B31
NET "cpu_addr<12>" LOC="P102" | IOSTANDARD = LVCMOS33;   # C31
#NET "cpu_addr<13>" LOC="PM11" | IOSTANDARD = LVCMOS33;   # U8-60
#
## SRAM
NET "sram_addr<19>" LOC="P172" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<18>" LOC="P168" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<17>" LOC="P165" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<16>" LOC="P163" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<15>" LOC="P161" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<14>" LOC="P160" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<13>" LOC="P162" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<12>" LOC="P164" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<11>" LOC="P167" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<10>" LOC="P171" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<9>" LOC="P187"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<8>" LOC="P190"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<7>" LOC="P193"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<6>" LOC="P197"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<5>" LOC="P200"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<4>" LOC="P202"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<3>" LOC="P199"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<2>" LOC="P196"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<1>" LOC="P192"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_addr<0>" LOC="P189"  | IOSTANDARD = LVTTL | SLEW="FAST";

NET "sram_data<15>" LOC="P205" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<14>" LOC="P4"   | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<13>" LOC="P3"   | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<12>" LOC="P2"   | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<11>" LOC="P9"   | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<10>" LOC="P8"   | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<9>" LOC="P5"    | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<8>" LOC="P203"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<7>" LOC="P147"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<6>" LOC="P146"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<5>" LOC="P145"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<4>" LOC="P144"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<3>" LOC="P153"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<2>" LOC="P152"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<1>" LOC="P151"  | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_data<0>" LOC="P150"  | IOSTANDARD = LVTTL | SLEW="FAST";

NET "sram_we" LOC="P178" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_oe" LOC="P179" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_ble" LOC="P177" | IOSTANDARD = LVTTL | SLEW="FAST";
NET "sram_bhe" LOC="P181" | IOSTANDARD = LVTTL | SLEW="FAST";
#
## LCD display

NET "enable" LOC="P122" | IOSTANDARD = LVCMOS33;  #
NET "vsync_o" LOC="P123" | IOSTANDARD = LVCMOS33; # B19
NET "hsync_o" LOC="P126" | IOSTANDARD = LVCMOS33; # C19
NET "dclk" LOC="P127" | IOSTANDARD = LVCMOS33;    # C18

NET "b<1>" LOC="P135" | IOSTANDARD = LVCMOS33; # B16
NET "b<0>" LOC="P134" | IOSTANDARD = LVCMOS33; # C16
NET "g<1>" LOC="P133" | IOSTANDARD = LVCMOS33; # A17
NET "g<0>" LOC="P132" | IOSTANDARD = LVCMOS33; # C17
NET "r<1>" LOC="P129" | IOSTANDARD = LVCMOS33; # A18
NET "r<0>" LOC="P128" | IOSTANDARD = LVCMOS33; # B18  

NET "led1" LOC="P140" | IOSTANDARD = LVCMOS33;
